html,
body {
  height: 100%;
  margin:0 auto;
  width:  100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(https://qiju-1252919816.cos.ap-chongqing.myqcloud.com/static/img/dynamic1.jpg);
}
 #demo_img{
     position: absolute;
     right:3rem;
     width:1.2rem;
     height:auto;
     margin-top: .75rem;
     /*overflow:hidden;
     clip:rect(0,0,0,0);
     white-space:nowrap;*/
     border:0;
     z-index: 5;
     }

.form-signup {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  height: auto;
}
.form-signup .checkbox {
  font-weight: 400;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: 2.2rem;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="user name"] {
  margin-bottom: 1.4rem;
  border-radius: 8px;
}
.form-signup input[type="email"] {
  margin-bottom: 1.4rem;
  border-radius: 8px;
}
.form-signup input[type="telephone"] {
  margin-bottom: 1.4rem;
  border-radius: 8px;
}
.form-signup input[type="password"] {
  margin-bottom: 1.4rem;
  border-radius: 8px;
}
.form-signup input[type="text"] {
  margin-bottom: 1.4rem;
  border-radius: 8px;
}


